@media (min-width: 576px) {
    .nav-container {
        font-size: 3em;
    }

    .nav-menu-btn {
        float: right;
        display: block;
    }

    /*.nav-right li:not(:last-child) {*/
    /*    display: none;*/
    /*}*/

    .flex-container {
        flex-direction: column;
    }

    .flex-item {
        flex-basis: 100%;
    }

    .flex-col-2 {
        width: 80%;
    }

    .carousel-background img {
        height: 15em;
    }

    .fa-stack {
        font-size: 20vw;
    }

    .text-xs {
        font-size: 1.2em;
    }

    .text-s {
        font-size: 1.5em;
    }

    .text-m {
        font-size: 1.8em;
    }

    .text-l {
        font-size: 3em;
    }

    .text-xl {
        font-size: 4em;
    }

    .heading-s {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    .heading-m {
        text-align: center;
        font-size: 3em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    .heading-l {
        text-align: center;
        font-size: 4em;
        margin-bottom: 0.8em;
        margin-top: 0.8em;
    }

    .heading-xl {
        text-align: center;
        font-size: 8em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .pdx-s {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .pdx-m {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}