@media only screen and (min-width: 1200px) {
    .nav-left, .nav-right {
        font-size: 18px;
        font-weight: 400;
        margin: auto 10%;
    }

    .carousel-prev, .carousel-next {
        margin: auto 10%
    }

    .flex-container {
        flex-direction: row;
    }

    .flex-item {
        flex-basis: 25%;
    }

    .flex-col-2 {
        flex-basis: 50%;
    }

    .flex-sm-reverse-col {
        flex-direction: initial;
    }

    .carousel-background img {
        height: auto;
    }

    .button {
        font-size: 24px;
        padding: 20px 84px
    }

    .desc-btn {
        margin: 0;
        margin-top: 10%;
    }

    .fa-stack {
        font-size: 5rem;
    }

    .section-img {
        width: 40%;
    }

    .text-description {
        font-size: 18px;
        margin: 0;
    }

    .text-xs {
        font-size: 0.5em;
    }

    .text-s {
        font-size: 0.8em;
    }

    .text-m {
        font-size: 1em;
    }

    .text-l {
        font-size: 1.5em;
    }

    .text-xl {
        font-size: 2em;
    }

    .section-heading {
        text-align: left;
    }

    .heading-s {
        font-size: 1em;
    }

    .heading-m {
        font-size: 1.2em;
    }

    .heading-l {
        font-size: 2em;
    }

    .heading-xl {
        font-size: 3em;
    }
}