/*----------------------SEMANTIC OVERIDES----------------------*/
* {
    box-sizing: border-box
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
}

a {
    text-decoration: none;
}

/*----------------------NAV BAR----------------------*/
.nav-container {
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 12px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.1s;
    font-size: 2em;
}

.nav-container ul {
    list-style-type: none;
    margin: 5px;
}

.nav-container li {
    display: inline;
    margin-right: 2rem;
}

.nav-container li:last-child {
    margin-right: 0;
}

.nav-container a {
    color: #ffffff;
}

.nav-container a:hover {
    color: rgb(150, 150, 150);
}

.nav-left {
    display: inline;
}

.nav-right {
    display: inline;
    float: right;
    padding-right: 3rem;
}

.nav-right li {
    display: none;
}

li.nav-menu-btn {
    display: block;
    position: absolute;
    float: right;
    right: 24px;
    top: 16px;
}

.responsive {
    background-color: rgba(0, 0, 0, 0.66)
}
.responsive li {
    display: block;
    margin-right: 5rem;
}

.responsive .nav-menu-btn {
    position: absolute;
}

.nav-icon {
    cursor: pointer;
    color: white;
}


/*----------------------CAROUSEL----------------------*/
.carousel-container {
    position: relative;
    margin: auto;
}

.carousel-background {
    filter: brightness(50%);
}

.carousel-background img {
    height: 15em;
    width: 100%;
}

.carousel-slides {

}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    display: block;
    max-width: 80%;
    margin: auto;
    padding: 5px;
}

.carousel-prev, .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.carousel-prev:hover, .carousel-next:hover {
    transition: 0.2s ease;
}

.carousel-next {
    right: 0;
}

.carousel-slide-text {
    color: white;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    left: 15%;
    text-align: center;
}

.carousel-dots-container {
    position: absolute;
    width: 100%;
    top: 80%;
    transform: translateY(-50%);
}

.carousel-dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #868686;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.carousel-dot.active {
    background-color: white;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.section-container {
    color: #576671;
}

@media (min-width: 36em) {

}

.about-items {
    padding-top: 5rem;
}

/*----------------------SECTIONS----------------------*/
.circle {
    color: #eeeff1;
}

.circle:hover {
    color: #17daa2 !important;
}

.fa-stack {
    font-size: 20vw;
}

.fa-inner-icon {
    color: #87949e;
    font-size: 50%;
}

.fa-inner-icon:hover {
    color: white;
}

.text-description {
    font-family: "Proxima Nova", sans-serif;
    line-height: 1.5em;
    font-size: 18px;
}

.section-gray {
    background: #f9f9f9;
}

.section-img {
    width: 50%;
    display: block;
    margin: auto;
}

.linebreak {
    width: 2em;
    border-color: #17daa2;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*----------------------BUTTONS----------------------*/
.button {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 999px;
    padding: 4px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    display: block;
    margin: auto;
}

.button-blue {
    background-color: #00b6cb;
}

.button-blue:hover {
    background-color: #007d8c;
}

.button-green {
    background-color: #17daa2;
}

.button-green:hover {
    background-color: #11a77d;
}

.button-lg{
    font-size: 1.5em;
}

/*----------------------CUSTOM COMMON CLASSES----------------------*/
.heading {
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}

.heading-s {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.heading-m {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.heading-l {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}

.heading-xl {
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.text-black {
    color: black;
}

.float-right {
    float: right;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    text-align: center;
    flex-basis: 100%;
}

.flex-col-2 {
    flex-basis: 100%;
    width: 100%;
}

.flex-sm-reverse-col {
    flex-direction: column-reverse;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: bold;
}

.font-font-weight-black {
    font-weight: 800;
}

.text-xs {
    font-size: 14px;
}

.text-s {
    font-size: 18px;
}

.text-m {
    font-size: 20px;
}

.text-l {
    font-size: 24px;
}

.text-xl {
    font-size: 32px;
}

.pdy-s {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pdy-m {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pdy-l {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.pdx-s {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pdx-m {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pdx-l {
    padding-left: 0.5rem;;
    padding-right: 0.5rem;;
}

.pdl-l {
    padding-left: 0.5rem;
}

.mgy-m{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.center-div {
    display: block;
    margin: auto;
}

.text-center {
    text-align: center;
}